/* --------- Font import --------- */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@500&display=swap');

/* --------- general HTML set up --------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Fira Sans, sans-serif;
    font-weight: 300;
    border: none;
    text-align: center;
}

h1 h2 {
    font-family: Ubuntu, sans-serif;
    text-align: center;
}

/* --------- flex --------- */

#main-container {
    display: flex;
    flex-direction: column;
}

/* --------- header --------- */

.header {
    background-color: #BB371A;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 75px 0px;
    margin: auto;
}

.header p {
    padding: 10px 0px;
    font-size: 1.5vh;
}

.header h1 {
    padding: 10px 0px;
    font-size: 5vh;
}

/* --------- score area --------- */

.score-area {
    background-color: #FFF8D9;
    width: 100%;
    height: fit-content;
    padding: 75px 0px;
}

.score {
    width: 100%;
    height: fit-content;
    display: flex;
}

.player-score {
    width: 40%;
    height: fit-content;
}

.computer-score {
    width: 40%;
    height: fit-content;
}

.score-area p {
    padding-top: 20px;
    font-size: 2vh;
}

.tie-score {
    width: 20%;
    height: fit-content;
}

/* --------- play area --------- */

.play-area {
    background-color: #FFF8D9;
    width: 100%;
    height: fit-content;
    display: flex;
}

.play-area img {
    width: 30vh;
    height: 30vh;
}

.computer-answer {
    width: 40%;
    height: fit-content;
}

.player-answer {
    width: 40%;
    height: fit-content;
}

.outcome-reaction {
    width: 20%;
    height: fit-content;
    padding-top: 10vh;
}

.outcome-reaction p {
    font-size: 1.5vh;
}

/* --------- answer area --------- */

.answer-area {
    background-color: #FFF8D9;
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0px 75px;
    text-align: center;
}

.btn-area {
    width: 40%;
    height: fit-content;
}

.btn-area p {
    padding: 0px 0px 35px;
}

.empty2 {
    width: 40%;
    height: fit-content;
}

.empty1 {
    width: 20%;
    height: fit-content;
}

.btn {
    width: 65px;
    height: 45px;
    background-color: #EBA83A;
    margin: 5px;
    border: solid 1px rgb(56, 55, 55);
    border-radius: 5%;
}

/* --------- origins and rules area --------- */

.origins-rules-area {
    background-color: #D5DBB3;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.rules-area {
    background-color: #D5DBB3;
    width: 100%;
    height: fit-content;
    padding: 75px 0px 35px;
}

.rules-area img {
    width: 50%;
    height: 50%;
    padding: 75px 0px 35px;
}

.origins-area {
    background-color: #D5DBB3;
    width: 100%;
    height: fit-content;
    padding: 75px 0px 35px;
}

.origins-area iframe {
    width: 896px !important;
    height: 504px !important;
    padding: 75px 0px 35px;
}